$primary: #0e141e;
$secondary: #111827;
$highlight: #32c766;
$border: #576871;
$error: #dd2c00;
$bg: #060b10;
$text: #cde2ff;
$tabs: #272f38;
$fill: #32e6e2;
$hover: #0c2a2a;
$buttons: #2036a1;
$cards: #1e242c;
$notify: #1b205b;
$table: #4d565f;
$faintedText: #7e8792;
$mbcolor: #ffbe00;
$f-12: 1.2rem;
$f11: 1.1rem;
